<html>
    <style>
    body {background-color: powderblue;}
    h2   {font-size: 300%}
    h4   {font-size: 250%}
    p    {font-size: 200%;}
    li   {font-size: 200%}
    </style>
<body>
    <p>At Food-Library ("we," "our," or "us"), we respect your privacy and are committed to protecting the personal information you share with us when using our mobile application Food-Library.</p>
    <h2>1. Informaion we collect</h2>
    <p>Our App does not collect personal information directly from users. However, we use third-party services, such as Firebase, to collect certain data for the purpose of improving the functionality and performance of the App.</p>
    <h4>a. Firebase Analytics and Services</h4>
    <ul>
        <li>Firebase may collect information about the device used to access the App, including device type, operating system version, and unique device identifiers.</li>
        <li>Firebase may collect data regarding how you interact with the App, such as usage patterns, screen views, and feature usage.</li>
        <li>Firebase Crashlytics may collect data regarding crashes and errors that occur within the App to help us improve the App's stability and performance.</li>
    </ul>
    <h4>b. No Collection of Personal Information</h4>
    <p>We do not actively collect personal information such as your name, email address, or other identifiable details unless you voluntarily provide it (for example, through a support request or feedback form). However, we recommend not sharing any personal information via the App unless absolutely necessary.</p>

    <h2>2. How We Use Your Information</h2>
    <p>We use the data collected by Firebase for the following purposes:</p>

    <li>improve the functionality and performance of the App.</li>
    <li>To analyze how the App is being used, including which features are most popular and how users are interacting with the App.</li>
    <li>To troubleshoot technical issues and improve the user experience.</li>
    <li>To collect anonymous usage data for reporting and analytical purposes.</li>
</body>
</html>
